* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   

body {
    font-family: Poppins,'Segoe UI', sans-serif;
    background-image: url(https://art.pixilart.com/fe55845141d2.gif);
    background-image: url(https://cdn.theatlantic.com/thumbor/e0S8UoytPE88502VJRLLRhgYU9s=/0x0:1920x1080/960x540/media/img/mt/2024/10/Calculator_2/original.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    width: 100vw;
}

.buttons {
    display:grid;
    place-items: center;
}

.table {
    position: relative;
    /* border: 2px solid red; */
    padding: 20px;
    height: auto;
    width: auto;
    border-radius: 20px;
}

button {
    height: 70px;
    width: 70px;
    margin: 5px;
    border: 0px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 200ms ease;
    font-size: 1.1em;
    font-weight: 600;
}

button:hover {
    transform: scale(1.10);
}

#inputs:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* .buttons {
    background-color: white;
    border: 2px solid red;
} */

.buttons #inputs {
    color: #0a1e23;
}

.buttons button#clear {
    background: darkgray;
}

.buttons button.btn-opr {
    background: rgb(243, 174, 0);
}

/* .buttons #mode {
    background: #222;
} */

.buttons #mode button#clear {
    background: lightgray;
}

.buttons #mode button.btn-opr {
    background: rgb(255, 196, 45);
}

#inputs {
    margin: 0 10px;
    height: 50px;
    width: auto;
    max-width: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2em;
    margin-top: 6em;
    overflow-x: scroll;
    border: none;
    border-radius: 10px;
    text-align: right;
    padding-right: 0.5em;
    cursor: pointer;
}

#inputs::-webkit-scrollbar {
    display: block;
    height: 3px;
}

.buttons #inputs {
    color: #222;
}

#inputs:hover{
    background: #222;
    color: #ffff;
}

.buttons button.btn-opr:hover {
    background: rgb(252, 200, 68);
    color: #ffff;
}

.buttons button#clear:hover {
    /* background: rgb(131, 131, 131); */
    background: #222;
    color: #ffff;
}

.buttons button.btn-number:hover {
    background: #333;
    color: #ffff;
}

/* 
.buttons #mode button.btn-number {
    background: #333;
} */

#mode {
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 20px;
    right: 20px; */
    cursor: pointer;
}

#mode svg {
    fill: var(--primary-color);
}

#mode svg:last-child {
    display: none;
}

.darkmode #mode svg:first-child {
    display: none;
}

.darkmode #mode svg:last-child {
    display: block;
} 